/* ELEMENT SELECTORS */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/* HEADINGS */

.big-heading {
  font-family: "Montserrat-Black", "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  /* text-align: center; */
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINER */

.container-fluid {
  padding: 5% 15%;
}

/* SECTION */
.white-section {
  background-color: white;
  color:black;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

/* NAVIGATION BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* TITLE  */
/* #title {
  background-color: #ff4c68;
  color: white;
} */

#title .container-fluid {
  padding: 2% 15% 5%;
}

@media (min-width:990px) {
  #title {
    text-align: left;
  }
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  margin: auto;
  position: static;
}

@media (min-width:990px) {
  .title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }
}

/* FEATURES */
#features {
  position: relative;
  /* background-color: white; */
}

.features-image {
  color: #ef8172;
}

.features-image:hover {
  color: #ff4c68;
}

.features-item {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px auto;
}

.features-desc {
  color: #8f8f8f;
  font-size: 0.9rem;
  margin-bottom: 10%;
}

/* TESTIMONIALS */
#testimonials {
  /* background-color: #ff4c68;
  color: white; */
}

.testimonials-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 1% 2%;
}

/* PRESS */

#press {
  /* background-color: #ff4c68; */
}

.press-image {
  width: 15%;
  margin: 2% 1%;
}

/* PRICING */

#pricing .container-fluid {
  padding: 5%;
}

.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3%;
}

/* CALL TO ACTION */
/* #cta {
  background-color: #ff4c68;
  color: white; */
}

/* FOOTER */

/* #footer {
  background-color: white;
} */

.socmed-icon {
  margin: 10px 20px;
}
